.homePageSubtitles{font-family: 'Righteous', cursive}

.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
  }


/* logging form */
.form-container{
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px 0px;
}

form{background-color: #ffffff}


/* 
body
{background-color: #f5683d} */