<!-- New Message Modal -->
<div class="container-fluid">
    <div class="modal fade" id="newMessageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form class="form-container">
                        <div class="form-group">
                            <label for="title" class="col-form-label">Title</label>
                            <input type="text" class="form-control" id="title" ng-model="title" required>

                        </div>
                        <div class="form-group">
                            <label for="details" class="col-form-label">Details</label>
                            <textarea class="form-control" id="Details" ng-model="details"></textarea>
                        </div>
                        <div class="form-group">
                            <select ng-model="severity" ng-options="severity.label for severity in sevirityValues"></select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" ng-click="clearForm()">Clear</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="createMessage()">Send message</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Edit Message  Modal -->
<div class="container-fluid">
    <div class="modal fade" id="editMessageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel_edit">Edit message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form class="form-container">
                        <div class="form-group">
                            <label for="title" class="col-form-label">Title</label>
                            <input type="text" class="form-control" id="title_edit" ng-model="editMessageObj.title" required>

                        </div>
                        <div class="form-group">
                            <label for="details" class="col-form-label">Details</label>
                            <textarea class="form-control" id="Details_edit" ng-model="editMessageObj.details"></textarea>
                        </div>
                        <div class="form-group">
                            <select ng-model="severity" ng-options="severity.label for severity in sevirityValues"></select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" ng-click="clearForm()">Clear</button> -->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="commitUpdateMessage()">Save edited message</button>
                </div>
            </div>
        </div>
    </div>
</div>